.task-list__filters {
  display: flex;
  gap: 8px;
  margin: 20px 0;
  width: 60%;
}

.task-filters__item {
  flex: 1;
  border: 1px #828282 solid;
  font-weight: 500;
  color: #828282;
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

.task-filters__item:hover {
  background-color: #f2f2f2;
  border-color: #555;
  color: #555;
}

.active-all {
  border: none;
  background-color: #C5E7FF;
  color: #3E9BDD;
}

.active-active {
  border: none;
  background-color: #FFDEC1;
  color: #CC6D19;
}

.active-important {
  border: none;
  background-color: #FFC9C9;
  color: #E2433E;
}

.active-done {
  border: none;
  background-color: #CBFFBD;
  color: #39BF21;
}

.active-all:hover {
  background-color: #B0DBFA;
  color: #3E9BDD;
}

.active-active:hover {
  background-color: #FFD3A8;
  color: #CC6D19;
}

.active-important:hover {
  background-color: #FFB0B0;
  color: #E2433E;
}

.active-done:hover {
  background-color: #B4F7A2;
  color: #39BF21;
}
